:root.theme-dark {
  --nav-accent-color: #FF0070;
  --bg-color: #000028;
  --text-color: #ffffff;
  --accent-color: #FF0070;
  --accent-color-footer:#FF0070;
  --accent-text-color: #DB00FF;
  --decor-color-bg: #FF0070;
  --decor-line-color: #FF0070;
  --decor-color-text: #10091d;
  --border-color-hover: rgba(255 0 112 / 0.40);
  --bg-image: url("../images/cover-image-dark.png");
}

.header__rec {
  display: none;
}

:root.theme-dark .header__rec,
:root:not(.theme-dark) .header__rec {
  display: flex;
}