:root.theme-light {
  --nav-accent-color: #353430;
  --bg-color: #FFF1F7;
  --accent-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-title-color: #353430;
  --accent-color-footer: #ff0070;
  --decor-color-bg: #ff8dcb;
  --border-color-hover: rgba(50 49 45 / 0.4);
  --text-color: #353430;
  --parag-text-color: #353430;
  --bg-image: url("../images/cover-image-light.png");
  --decor-line-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --nav-accent-color: #353430;
    --bg-color: #FFF1F7;
    --accent-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-title-color: #353430;
    --accent-color-footer: #ff0070;
    --decor-color-bg: #ff8dcb;
    --border-color-hover: rgba(50 49 45 / 0.4);
    --text-color: #353430;
    --parag-text-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --decor-line-color: #353430;
  }

  :root.theme-auto .header__rec {
    display: none;
  }
}

:root.theme-light .header__rec {
  display: none;
}
