:root.theme-light {
  --nav-accent-color: #353430;
  --bg-color: #fdeaf5;
  --text-color: #10091d;
  --accent-text-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-footer: #FF0070;
  --decor-line-color: #353430;
  --decor-color-bg: #ff8dcb;
  --decor-color-text: #10091d;
  --border-color-hover: rgb(16 9 29 / 0.5);
  --bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-color: #fdeaf5;
    --text-color: #10091d;
    --accent-color: #ff0070;
    --decor-color-bg: #ff8dcb;
    --decor-color-text: #10091d;
    --border-color-hover: rgb(16 9 29 / 0.5);
    --bg-image: url("../images/cover-image-light.png");
  }
}

:root.theme-light .header__rec {
  display: none;
}