:root {
  /* Цвета */
  --bg-color: #10091d;
  --text-color: #ffffff;
  --accent-color: #FF8DCB;
  --decor-color-bg: #FFF1F7;
  --decor-color-text: #10091d;
  --border-color-hover: rgb(255 255 255 / 0.5);

  /* Фоновые изображения */
  --bg-image: url("../images/cover-image-dark.png");
  --record-image: url("../images/cover-image-dark.png");

  /* Шрифты */
  --font-family-base: "IBM Plex mono", monospace;
  --font-weight-regular: normal;
  --font-weight-bold: bold;

  /* Отступы */
  --content-padding-inline: 20px;
  --section-gap: 80px;
}