:root {
  --nav-accent-color: #FF0070;
  --bg-color: #000028;
  --accent-color: #FF0070;
  --accent-text-color: #DB00FF;
  --accent-title-color: #FF0070;
  --decor-color-bg: #FF0070;
  --decor-line-color: #FF0070;
  --border-color-hover: rgba(255 0 112 / 0.40);
  --parag-text-color: #F1B2CE;
  --text-color:#000028;
  --accent-color-footer: #FF0070;

  --bg-image: url("../images/cover-image-dark.png");

  --font-family-base: "IBM Plex mono", monospace;
  --font-weight-regular: normal;
  --font-weight-bold: bold;

  --content-padding-inline: 20px;
  --section-gap: 80px;
}