:root {
  --nav-accent-color: #353430;
  --bg-color: #353430;
  --text-color: #ffffff;
  --accent-color: #FF8DCB;
  --decor-color-bg: #FFF1F7;
  --decor-line-color: #353430;
  --decor-color-text: #353430;
  --border-color-hover: rgb(255 255 255 / 0.5);

  --bg-image: url("../images/cover-image-dark.png");
  --record-image: url("../images/cover-image-dark.png");

  --font-family-base: "IBM Plex mono", monospace;
  --font-weight-regular: normal;
  --font-weight-bold: bold;

  --content-padding-inline: 20px;
  --section-gap: 80px;
}